body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.quotes_title {
  margin: 50px 0;
}

.quotes_slogan {
  margin: 0 0 20px 0;
}

.quotes_desc {
  margin: 0 0 20px 0;
}

.quotes_generate-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.quotes_generate-btn:hover {
  background-color: #0056b3;
}

.quotes_favorite-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.quotes_favorite-btn:hover {
  background-color: #0056b3;
}

.favorites_title {
  margin: 50px 0;
}

.favorites_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.favorites_card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}

.favorites_slogan {
  margin-bottom: 20px;
}

.favorites_desc {
}
